Package: com.officialscheduler.decryptme
Name: DecryptMe
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Decrypts apps at runtime
Maintainer: lordscotland <admin@officialscheduler.com>
Author: lordscotland <admin@officialscheduler.com>
Section: Tweaks
